# Everything in the REPO directory is ignored by default.

# Build products
BUILD/
dependmodules.x
*.deb
*.cpio.gz
*.sqsh
*.pyc

# Package cache and lock files
.lock
.PKGs.cache*

# Local module manifest.
.manifest.mk
RELEASE/

.bash_history
.buildroot-ccache
